pipeline/LoadAmgenFiles.json
{
	"name": "LoadAmgenFiles",
	"properties": {
		"description": "Load Amgen files to SQL with checks on previously log actions",
		"activities": [
			{
				"name": "GeFileNames",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ClearAmgenTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceAmgenSFTP",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "SftpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ClearAmgenTables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[amgen].[ClearAmgenTables]"
				},
				"linkedServiceName": {
					"referenceName": "Amgendb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "All_HCPs_PII",
				"description": "",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GeFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GeFileNames').output.ChildItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'All_HCPs_PII')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Parsabiv Speaker Program Data",
				"description": "",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GeFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GeFileNames').output.ChildItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'Parsabiv Speaker Program Data')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachFile2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Parsabiv Speaker Program Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Parsabiv Speaker Program Data').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LookupFile2",
							"description": "Check in amgen.ETL_LOG table",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[amgen].[CheckFileIfExist]",
									"storedProcedureParameters": {
										"p_FileName": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AmgenETL_LOG",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "CheckIfExists2",
							"description": "Check if File was uploaded previously",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LookupFile2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('LookupFile2').output.firstRow.Result,'Y')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "CopyToSQL2",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ExcelSource",
												"storeSettings": {
													"type": "SftpReadSettings",
													"recursive": true,
													"wildcardFolderPath": "/clutch-sftp-prod-incoming/amgen/outgoing/proximo",
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												}
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"type": "String",
															"ordinal": 1
														},
														"sink": {
															"name": "program_id",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 2
														},
														"sink": {
															"name": "parent_program_id",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 3
														},
														"sink": {
															"name": "brand",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 4
														},
														"sink": {
															"name": "budget_name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 5
														},
														"sink": {
															"name": "initiative",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 6
														},
														"sink": {
															"name": "program_type",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 7
														},
														"sink": {
															"name": "lead_rep_territory",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 8
														},
														"sink": {
															"name": "title",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 9
														},
														"sink": {
															"name": "program_status",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 10
														},
														"sink": {
															"name": "program_date",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 11
														},
														"sink": {
															"name": "program_time",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 12
														},
														"sink": {
															"name": "program_time_zone",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 13
														},
														"sink": {
															"name": "venue_location_name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 14
														},
														"sink": {
															"name": "venue_location_city",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 15
														},
														"sink": {
															"name": "venue_location_state",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 16
														},
														"sink": {
															"name": "venue_zip",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 17
														},
														"sink": {
															"name": "attendee_type",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 18
														},
														"sink": {
															"name": "attendee_amgen_id",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 19
														},
														"sink": {
															"name": "attendee_first_name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 20
														},
														"sink": {
															"name": "attendee_last_name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 21
														},
														"sink": {
															"name": "attendee_degree",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 22
														},
														"sink": {
															"name": "attendee_specialty",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 23
														},
														"sink": {
															"name": "attendee_address",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 24
														},
														"sink": {
															"name": "attendee_city",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 25
														},
														"sink": {
															"name": "attendee_state",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 26
														},
														"sink": {
															"name": "attendee_zip",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 27
														},
														"sink": {
															"name": "attendee_phone",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 28
														},
														"sink": {
															"name": "attendee_source",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 29
														},
														"sink": {
															"name": "attendee_status",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 30
														},
														"sink": {
															"name": "ate_meal",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 31
														},
														"sink": {
															"name": "sign_in_reconciled",
															"type": "String",
															"physicalType": "nvarchar"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SourceAmgenSFTPExcel",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ParsabivSpeakeProgramData",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "LogActions2",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyToSQL2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[amgen].[LogAction]",
											"storedProcedureParameters": {
												"FileName": {
													"value": {
														"value": "@item().name",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipeLineRunId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipeLineTime": {
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													},
													"type": "Datetime"
												},
												"RowsCopied": {
													"value": {
														"value": "@activity('CopyToSQL2').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "Amgendb",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Parsabiv Normalized Units",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GeFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GeFileNames').output.ChildItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'Parsabiv Normalized_Units')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachFile3",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Parsabiv Normalized Units",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Parsabiv Normalized Units').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CheckIfExists3",
							"description": "Check if File was uploaded previously",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LookupFile3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('LookupFile3').output.firstRow.Result,'Y')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "CopyToSQL3",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ExcelSource",
												"storeSettings": {
													"type": "SftpReadSettings",
													"recursive": true,
													"wildcardFolderPath": "/clutch-sftp-prod-incoming/amgen/outgoing/proximo",
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												}
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"type": "String",
															"ordinal": 1
														},
														"sink": {
															"name": "Territory_Code",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 2
														},
														"sink": {
															"name": "Territory_Name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 3
														},
														"sink": {
															"name": "District_Code",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 4
														},
														"sink": {
															"name": "District_Name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 5
														},
														"sink": {
															"name": "KAM",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 6
														},
														"sink": {
															"name": "KAM Name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 7
														},
														"sink": {
															"name": "Customer_ID",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 8
														},
														"sink": {
															"name": "Customer_Name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 9
														},
														"sink": {
															"name": "Name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 10
														},
														"sink": {
															"name": "Address",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 11
														},
														"sink": {
															"name": "City",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 12
														},
														"sink": {
															"name": "State",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 13
														},
														"sink": {
															"name": "Zip",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 14
														},
														"sink": {
															"name": "Brand",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 15
														},
														"sink": {
															"name": "Year",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 16
														},
														"sink": {
															"name": "Quarter_number",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 17
														},
														"sink": {
															"name": "Month_number",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 18
														},
														"sink": {
															"name": "Week_number",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 19
														},
														"sink": {
															"name": "Time_bucket_id",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 20
														},
														"sink": {
															"name": "Normalized_units",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 21
														},
														"sink": {
															"name": "derived_patient_count",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 22
														},
														"sink": {
															"name": "inbu_peak_sf_parsabiv_comp_include",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 23
														},
														"sink": {
															"name": "Week",
															"type": "String",
															"physicalType": "nvarchar"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SourceAmgenSFTPExcel",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ParsabivNormalizedUnits",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "LogActions3",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyToSQL3",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[amgen].[LogAction]",
											"storedProcedureParameters": {
												"FileName": {
													"value": {
														"value": "@item().name",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipeLineRunId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipeLineTime": {
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													},
													"type": "Datetime"
												},
												"RowsCopied": {
													"value": {
														"value": "@activity('CopyToSQL3').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "Amgendb",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "LookupFile3",
							"description": "Check in amgen.ETL_LOG table",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[amgen].[CheckFileIfExist]",
									"storedProcedureParameters": {
										"p_FileName": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AmgenETL_LOG",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "NormalizeAmgenTables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEachFile2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEachFile3",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEachFile4",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEachFile5",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEachFiles6",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[amgen].[NormalizeAmgenTables]"
				},
				"linkedServiceName": {
					"referenceName": "Amgendb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEachFile1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "All_HCPs_PII",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('All_HCPs_PII').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyToSQL1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": true,
										"wildcardFolderPath": "/clutch-sftp-prod-incoming/amgen/outgoing/proximo",
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"type": "String",
												"ordinal": 1
											},
											"sink": {
												"name": "First name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 2
											},
											"sink": {
												"name": "Last name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 3
											},
											"sink": {
												"name": "Customer id",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 4
											},
											"sink": {
												"name": "Email",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 5
											},
											"sink": {
												"name": "Address 1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 6
											},
											"sink": {
												"name": "Address 2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 7
											},
											"sink": {
												"name": "City",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 8
											},
											"sink": {
												"name": "State",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 9
											},
											"sink": {
												"name": "Zipcode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 10
											},
											"sink": {
												"name": "Country",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 11
											},
											"sink": {
												"name": "Phone",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 12
											},
											"sink": {
												"name": "Mobile phone",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 13
											},
											"sink": {
												"name": "All customers 1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 14
											},
											"sink": {
												"name": "Count of profile updated events 1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 15
											},
											"sink": {
												"name": "Prescribing Locations",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 16
											},
											"sink": {
												"name": "Most recent communication delivered event",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 17
											},
											"sink": {
												"name": "Type 1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 18
											},
											"sink": {
												"name": "Affiliated Locations Count",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 19
											},
											"sink": {
												"name": "Prescribing Tier",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 20
											},
											"sink": {
												"name": "Most recent communication read event",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 21
											},
											"sink": {
												"name": "Affiliated LDOs",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 22
											},
											"sink": {
												"name": "subtype 1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 23
											},
											"sink": {
												"name": "Age",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 24
											},
											"sink": {
												"name": "NPI",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 25
											},
											"sink": {
												"name": "Units Per IDO",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 26
											},
											"sink": {
												"name": "Opportunity IDOs",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 27
											},
											"sink": {
												"name": "Most recent issuance or redemption event 1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 28
											},
											"sink": {
												"name": "Count of communication delivered events this year",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 29
											},
											"sink": {
												"name": "Most recent opt out event",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 30
											},
											"sink": {
												"name": "Prescribing MDOs 1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 31
											},
											"sink": {
												"name": "Chargeback Units Per Location",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 32
											},
											"sink": {
												"name": "Count of communication delivered events",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 33
											},
											"sink": {
												"name": "Birthday",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 34
											},
											"sink": {
												"name": "Count of communication delivered events last 6 months",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 35
											},
											"sink": {
												"name": "Prescribing MDOs 2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 36
											},
											"sink": {
												"name": "Program Number",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 37
											},
											"sink": {
												"name": "Owning Location Number",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 38
											},
											"sink": {
												"name": "Count of communication clicked events this year",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 39
											},
											"sink": {
												"name": "Program Attendee Type 1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 40
											},
											"sink": {
												"name": "Target Type 1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 41
											},
											"sink": {
												"name": "Prescribing IDOs",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 42
											},
											"sink": {
												"name": "Opportunity MDOs",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 43
											},
											"sink": {
												"name": "Prescribing LDOs",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 44
											},
											"sink": {
												"name": "Count of communication delivered events last 90 days",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 45
											},
											"sink": {
												"name": "Chargeback Units",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 46
											},
											"sink": {
												"name": "Specialty List",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 47
											},
											"sink": {
												"name": "All customers 2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 48
											},
											"sink": {
												"name": "Custom Card Number 1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 49
											},
											"sink": {
												"name": "Middle Name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 50
											},
											"sink": {
												"name": "Opportunity LDOs",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 51
											},
											"sink": {
												"name": "Primary Specialty 1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 52
											},
											"sink": {
												"name": "Count of communication clicked events last 6 months",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 53
											},
											"sink": {
												"name": "Affiliated MDOs",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 54
											},
											"sink": {
												"name": "Secondary Specialty 1",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 55
											},
											"sink": {
												"name": "Units Per LDO",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 56
											},
											"sink": {
												"name": "Count of communication clicked events last 90 days",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 57
											},
											"sink": {
												"name": "Type 2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 58
											},
											"sink": {
												"name": "Count of communication read events",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 59
											},
											"sink": {
												"name": "Opportunity Locations",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 60
											},
											"sink": {
												"name": "Count of opt out events",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 61
											},
											"sink": {
												"name": "Activation Date",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 62
											},
											"sink": {
												"name": "Units Per MDO",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 63
											},
											"sink": {
												"name": "Longitude",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 64
											},
											"sink": {
												"name": "Secondary Specialty 2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 65
											},
											"sink": {
												"name": "IMS ID",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 66
											},
											"sink": {
												"name": "Gender",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 67
											},
											"sink": {
												"name": "Custom Card Number 2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 68
											},
											"sink": {
												"name": "Count of communication spam reported events",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 69
											},
											"sink": {
												"name": "Primary Specialty 2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 70
											},
											"sink": {
												"name": "Affiliated IDOs",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 71
											},
											"sink": {
												"name": "Most recent communication deferred event",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 72
											},
											"sink": {
												"name": "Target Type 2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 73
											},
											"sink": {
												"name": "subtype 2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 74
											},
											"sink": {
												"name": "Count of communication read events this year",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 75
											},
											"sink": {
												"name": "Most recent bounced event",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 76
											},
											"sink": {
												"name": "Count of bounced events",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 77
											},
											"sink": {
												"name": "Card Set Number",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 78
											},
											"sink": {
												"name": "Count of communication clicked events",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 79
											},
											"sink": {
												"name": "Program Attendee Type 2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 80
											},
											"sink": {
												"name": "Secondary Specialty",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 81
											},
											"sink": {
												"name": "Most recent communication failed event",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 82
											},
											"sink": {
												"name": "Most recent communication clicked event",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 83
											},
											"sink": {
												"name": "Most recent communication sent event",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 84
											},
											"sink": {
												"name": "Count of communication read events last 90 days",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 85
											},
											"sink": {
												"name": "Count of communication sent events",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 86
											},
											"sink": {
												"name": "Count of profile updated events 2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 87
											},
											"sink": {
												"name": "Count of opt in events",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 88
											},
											"sink": {
												"name": "Count of communication failed events",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 89
											},
											"sink": {
												"name": "Global email opt in status",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 90
											},
											"sink": {
												"name": "Most recent opt in event",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 91
											},
											"sink": {
												"name": "Count of communication deferred events",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 92
											},
											"sink": {
												"name": "Affiliated Locations",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 93
											},
											"sink": {
												"name": "Latitude",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 94
											},
											"sink": {
												"name": "Primary Specialty",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 95
											},
											"sink": {
												"name": "Most recent issuance or redemption event 2",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 96
											},
											"sink": {
												"name": "Most recent communication spam reported event",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 97
											},
											"sink": {
												"name": "Count of communication read events last 6 months",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceAmgenSFTP",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "All_HCPs_PII",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "LogActions1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyToSQL1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[amgen].[LogAction]",
								"storedProcedureParameters": {
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipeLineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipeLineTime": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"RowsCopied": {
										"value": {
											"value": "@activity('CopyToSQL1').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Amgendb",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "monthly aladin datamart",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GeFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GeFileNames').output.ChildItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'monthly_aladin_datamart')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachFile4",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "monthly aladin datamart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('monthly aladin datamart').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LookupFile4",
							"description": "Check in amgen.ETL_LOG table",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[amgen].[CheckFileIfExist]",
									"storedProcedureParameters": {
										"p_FileName": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AmgenETL_LOG",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "CheckIfExists4",
							"description": "Check if File was uploaded previously",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LookupFile4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('LookupFile4').output.firstRow.Result,'Y')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "CopyToSQL4",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "SftpReadSettings",
													"recursive": true,
													"wildcardFolderPath": "/clutch-sftp-prod-incoming/amgen/outgoing/proximo",
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"type": "String",
															"ordinal": 1
														},
														"sink": {
															"name": "facility",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 2
														},
														"sink": {
															"name": "acis",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 3
														},
														"sink": {
															"name": "Nnacode",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 4
														},
														"sink": {
															"name": "source_short_name",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 5
														},
														"sink": {
															"name": "extrnl_facility_id",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 6
														},
														"sink": {
															"name": "facility_name",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 7
														},
														"sink": {
															"name": "x_sub1_name",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 8
														},
														"sink": {
															"name": "x_sub2_name",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 9
														},
														"sink": {
															"name": "x_sub3_name",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 10
														},
														"sink": {
															"name": "x_sub1_value",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 11
														},
														"sink": {
															"name": "x_sub2_value",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 12
														},
														"sink": {
															"name": "x_sub3_value",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 13
														},
														"sink": {
															"name": "amgen_territory",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 14
														},
														"sink": {
															"name": "address",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 15
														},
														"sink": {
															"name": "city",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 16
														},
														"sink": {
															"name": "state",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 17
														},
														"sink": {
															"name": "zip",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 18
														},
														"sink": {
															"name": "target",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 19
														},
														"sink": {
															"name": "contractee_acis",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 20
														},
														"sink": {
															"name": "sfacility",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 21
														},
														"sink": {
															"name": "load_date",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 22
														},
														"sink": {
															"name": "source_id",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 23
														},
														"sink": {
															"name": "source_name",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 24
														},
														"sink": {
															"name": "program_id",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 25
														},
														"sink": {
															"name": "active_status",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 26
														},
														"sink": {
															"name": "date_period",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 27
														},
														"sink": {
															"name": "hcm_id",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 28
														},
														"sink": {
															"name": "mastered_date",
															"type": "String",
															"physicalType": "varchar"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SourceAmgenSFTPTxt",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "MonthlyAladinDatamart",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "LogActions4",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyToSQL4",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[amgen].[LogAction]",
											"storedProcedureParameters": {
												"FileName": {
													"value": {
														"value": "@item().name",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipeLineRunId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipeLineTime": {
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													},
													"type": "Datetime"
												},
												"RowsCopied": {
													"value": {
														"value": "@activity('CopyToSQL4').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "Amgendb",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "amgen_events_mcm",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GeFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GeFileNames').output.ChildItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'amgen_events_mcm')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachFile5",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "amgen_events_mcm",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('amgen_events_mcm').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CheckIfExists5",
							"description": "Check if file was uploaded previously",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LookupFile5",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('LookupFile5').output.firstRow.Result,'Y')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "CopyToSQL5",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "SftpReadSettings",
													"recursive": true,
													"wildcardFolderPath": "/clutch-sftp-prod-incoming/amgen/outgoing/proximo",
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"type": "String",
															"ordinal": 1
														},
														"sink": {
															"name": "eventid",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 2
														},
														"sink": {
															"name": "cardid",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 3
														},
														"sink": {
															"name": "eventtype",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 4
														},
														"sink": {
															"name": "locationid",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 5
														},
														"sink": {
															"name": "terminalid",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 6
														},
														"sink": {
															"name": "categoryid",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 7
														},
														"sink": {
															"name": "payload",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 8
														},
														"sink": {
															"name": "eventdate",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 9
														},
														"sink": {
															"name": "customcardnumber",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 10
														},
														"sink": {
															"name": "ims_customer_id",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 11
														},
														"sink": {
															"name": "npi",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 12
														},
														"sink": {
															"name": "customer_type",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 13
														},
														"sink": {
															"name": "customer_tier",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 14
														},
														"sink": {
															"name": "channel_code",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 15
														},
														"sink": {
															"name": "channel_description",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 16
														},
														"sink": {
															"name": "brand",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 17
														},
														"sink": {
															"name": "transaction_timestamp",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 18
														},
														"sink": {
															"name": "activity_count",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 19
														},
														"sink": {
															"name": "promotion_type",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 20
														},
														"sink": {
															"name": "vendor_code",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 21
														},
														"sink": {
															"name": "vendor_description",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 22
														},
														"sink": {
															"name": "campaign_start_date",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 23
														},
														"sink": {
															"name": "campaign_description",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 24
														},
														"sink": {
															"name": "drop_date",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 25
														},
														"sink": {
															"name": "message",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 26
														},
														"sink": {
															"name": "offer_description",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 27
														},
														"sink": {
															"name": "disposition_code",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 28
														},
														"sink": {
															"name": "disposition_description",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 29
														},
														"sink": {
															"name": "offer_level",
															"type": "String",
															"physicalType": "nvarchar"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SourceAmgenSFTP",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "AmgenEventsMcm",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "LogActions5",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyToSQL5",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[amgen].[LogAction]",
											"storedProcedureParameters": {
												"FileName": {
													"value": {
														"value": "@item().name",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipeLineRunId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipeLineTime": {
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													},
													"type": "Datetime"
												},
												"RowsCopied": {
													"value": {
														"value": "@activity('CopyToSQL5').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "Amgendb",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "LookupFile5",
							"description": "Check in amgen.ETL_LOG table",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[amgen].[CheckFileIfExist]",
									"storedProcedureParameters": {
										"p_FileName": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AmgenETL_LOG",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "amgen_events_compass",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GeFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GeFileNames').output.ChildItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'amgen_events_compass')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachFiles6",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "amgen_events_compass",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('amgen_events_compass').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LookupFile6",
							"description": "Check in amgen.ETL_LOG table",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[amgen].[CheckFileIfExist]",
									"storedProcedureParameters": {
										"p_FileName": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AmgenETL_LOG",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "CheckIfExists6",
							"description": "Check if File was uploaded previously",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LookupFile6",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('LookupFile6').output.firstRow.Result,'Y')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "CopyToSQL6",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "SftpReadSettings",
													"recursive": true,
													"wildcardFolderPath": "/clutch-sftp-prod-incoming/amgen/outgoing/proximo",
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"type": "String",
															"ordinal": 1
														},
														"sink": {
															"name": "eventid",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 2
														},
														"sink": {
															"name": "cardid",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 3
														},
														"sink": {
															"name": "eventtype",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 4
														},
														"sink": {
															"name": "locationid",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 5
														},
														"sink": {
															"name": "terminalid",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 6
														},
														"sink": {
															"name": "categoryid",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 7
														},
														"sink": {
															"name": "payload",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 8
														},
														"sink": {
															"name": "eventdate",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 9
														},
														"sink": {
															"name": "customcardnumber",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 10
														},
														"sink": {
															"name": "cdl_uuid",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 11
														},
														"sink": {
															"name": "cdl_frequency",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 12
														},
														"sink": {
															"name": "cdl_effective_date",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 13
														},
														"sink": {
															"name": "cdl_run_identifier",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 14
														},
														"sink": {
															"name": "business_unit_id",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 15
														},
														"sink": {
															"name": "business_unit_code",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 16
														},
														"sink": {
															"name": "field_force_code_5",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 17
														},
														"sink": {
															"name": "field_force_name_5",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 18
														},
														"sink": {
															"name": "territory_code_5",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 19
														},
														"sink": {
															"name": "territory_name_5",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 20
														},
														"sink": {
															"name": "field_force_code_4",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 21
														},
														"sink": {
															"name": "field_force_name_4",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 22
														},
														"sink": {
															"name": "territory_code_4",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 23
														},
														"sink": {
															"name": "territory_name_4",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 24
														},
														"sink": {
															"name": "field_force_code_3",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 25
														},
														"sink": {
															"name": "field_force_name_3",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 26
														},
														"sink": {
															"name": "territory_code_3",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 27
														},
														"sink": {
															"name": "territory_name_3",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 28
														},
														"sink": {
															"name": "field_force_code_2",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 29
														},
														"sink": {
															"name": "field_force_name_2",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 30
														},
														"sink": {
															"name": "territory_code_2",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 31
														},
														"sink": {
															"name": "territory_name_2",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 32
														},
														"sink": {
															"name": "field_force_code",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 33
														},
														"sink": {
															"name": "field_force_name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 34
														},
														"sink": {
															"name": "territory_code",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 35
														},
														"sink": {
															"name": "territory_name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 36
														},
														"sink": {
															"name": "representative_staff_id",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 37
														},
														"sink": {
															"name": "representative_staff_name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 38
														},
														"sink": {
															"name": "primary_representative_flag",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 39
														},
														"sink": {
															"name": "customer_id",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 40
														},
														"sink": {
															"name": "customer_type",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 41
														},
														"sink": {
															"name": "customer_name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 42
														},
														"sink": {
															"name": "customer_address",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 43
														},
														"sink": {
															"name": "city",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 44
														},
														"sink": {
															"name": "state",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 45
														},
														"sink": {
															"name": "zip",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 46
														},
														"sink": {
															"name": "party_type_code",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 47
														},
														"sink": {
															"name": "party_type_description",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 48
														},
														"sink": {
															"name": "party_subtype_code",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 49
														},
														"sink": {
															"name": "party_subtype_description",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 50
														},
														"sink": {
															"name": "party_service_code",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 51
														},
														"sink": {
															"name": "party_service_description",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 52
														},
														"sink": {
															"name": "specialty_1_code",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 53
														},
														"sink": {
															"name": "specialty_1_description",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 54
														},
														"sink": {
															"name": "specialty_2_code",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 55
														},
														"sink": {
															"name": "specialty_2_description",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 56
														},
														"sink": {
															"name": "activity_call_id",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 57
														},
														"sink": {
															"name": "year",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 58
														},
														"sink": {
															"name": "semester_number",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 59
														},
														"sink": {
															"name": "quarter_number",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 60
														},
														"sink": {
															"name": "month_number",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 61
														},
														"sink": {
															"name": "week_number",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 62
														},
														"sink": {
															"name": "week_code",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 63
														},
														"sink": {
															"name": "call_date",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 64
														},
														"sink": {
															"name": "parent_call_id",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 65
														},
														"sink": {
															"name": "parent_customer_id",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 66
														},
														"sink": {
															"name": "anp_call_flag",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 67
														},
														"sink": {
															"name": "call_type",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 68
														},
														"sink": {
															"name": "call_category",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 69
														},
														"sink": {
															"name": "call_name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 70
														},
														"sink": {
															"name": "product_order",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 71
														},
														"sink": {
															"name": "source_product_name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 72
														},
														"sink": {
															"name": "brand_name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 73
														},
														"sink": {
															"name": "call_status",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 74
														},
														"sink": {
															"name": "message_opt_out",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 75
														},
														"sink": {
															"name": "attendee_status_explanation",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 76
														},
														"sink": {
															"name": "attendee_status_explanation_notes",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 77
														},
														"sink": {
															"name": "previous_call_notes",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 78
														},
														"sink": {
															"name": "next_call_notes",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 79
														},
														"sink": {
															"name": "valid_call_flag",
															"type": "String",
															"physicalType": "nvarchar"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SourceAmgenSFTP",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "AmgenEventsCompass",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "LogActions6",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyToSQL6",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[amgen].[LogAction]",
											"storedProcedureParameters": {
												"FileName": {
													"value": {
														"value": "@item().name",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipeLineRunId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipeLineTime": {
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													},
													"type": "Datetime"
												},
												"RowsCopied": {
													"value": {
														"value": "@activity('CopyToSQL6').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "Amgendb",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Amgen"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-07T12:25:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}